<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Bienvenue sur l'Application d'Analyse de Pitch</h1>
    </header>

    <main>
        <section>
            <h2>Envoyer un Pitch Vidéo</h2>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <label for="file">Choisir une vidéo :</label>
                <input type="file" name="file" id="file" required>
                <button type="submit">Uploader</button>
            </form>
        </section>

        <section>
            <h2>Autres Options</h2>
            <a href="/upload">Uploader un Pitch</a>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Application Pitch</p>
    </footer>
</body>
</html>
